.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
  gap: 1em;
}

.rocketSection,
.dragonSection,
.missionsList {
  width: 100%;
}

.missionsList {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.listTitle {
  font-size: 1.5rem;
  letter-spacing: 0.4px;
}

.missionsList p {
  font-style: italic;
}

.missionsList ul,
.dragonSection ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.dragonSection ul li,
.missionsList ul li {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1%;
}

.missionsList ul li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .listTitle {
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    font-weight: bold;
  }

  .dragonSection ul li,
  .missionsList ul li {
    padding: 2px;
    font-size: 13px;
  }

  .missionsList p,
  .dragonSection p {
    font-size: 13px;
  }
}
